In [ ]:
import pandas as pd

In [ ]:
s1 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

print(s1)

print(s1['c'])

a    10
b    20
c    30
d    40
dtype: int64
30

In [ ]:
students_data = {
    'Name' : ["Adeen", "Rimsha", "Ahmed"],
    "Age" : [21, 23, 24],
    "Score": [75, 85, 65]
}

students_df = pd.DataFrame(students_data)

In [ ]:
print(students_df)

     Name  Age  Score
0   Adeen   21     75
1  Rimsha   23     85
2   Ahmed   24     65

In [ ]:
print(students_df['Name'])

0     Adeen
1    Rimsha
2     Ahmed
Name: Name, dtype: object

In [ ]:
print(students_df.loc[2])

In [ ]:
df = pd.read_excel('/content/2 - sample-data-10mins.xlsx')

In [ ]:
print(df.head(2))

     Sales Person Country          Product       Date  Amount  Boxes Shipped
0  Jehu Rudeforth      UK  Mint Chip Choco 2022-01-04    5320            180
1     Van Tuxwell   India    85% Dark Bars 2022-08-01    7896             94

In [ ]:
print(df.tail(2))

          Sales Person Country         Product       Date  Amount  \
1092    Dotty Strutley   India         Eclairs 2022-07-28    2086
1093  Karlen McCaffrey   India  70% Dark Bites 2022-05-23    5075

      Boxes Shipped
1092            384
1093            344