In [ ]:
print("Hello World")

Hello World

In [ ]:
a=20
print(type(a))

<class 'int'>

In [ ]:
age=19

if age>18:
  print("You are an adult")
  print("This is also in if block")

print("This is outside if block")

You are an adult
This is also in if block
This is outside if block

In [ ]:
num=-4

if num<0:
  print("-ve numbet")
elif num>0:
  print("+ve number")
else:
  print("zero or invalid")

-ve numbet

In [ ]:
# short hand

num1 = 88

print("Even") if num1%2==0 else print("Odd")

Even

In [ ]:
def greet(name):
  print("================")
  print(" Welcome " + name)
  print("================")

In [ ]:
greet("Maaz")
greet("Ahmed")
greet("Adeen")

================
 Welcome Maaz
================
================
 Welcome Ahmed
================
================
 Welcome Adeen
================

In [ ]:
i=55
while i > 4:
  print("num is : " + str(i) )
  i -= 5

num is : 55
num is : 50
num is : 45
num is : 40
num is : 35
num is : 30
num is : 25
num is : 20
num is : 15
num is : 10
num is : 5

In [ ]:
def generateTable(num):
  i=1
  while i<=10:
    print(str(num) + " x " + str(i) + " = " + str(num*i))
    i+=1

In [ ]:
generateTable(13)

13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

In [ ]:
generateTable(155)

155 x 1 = 155
155 x 2 = 310
155 x 3 = 465
155 x 4 = 620
155 x 5 = 775
155 x 6 = 930
155 x 7 = 1085
155 x 8 = 1240
155 x 9 = 1395
155 x 10 = 1550

In [ ]:
students = ["Ali", "Ahmed", "Sarah"]

for s in students:
  print("My name is " + s)

My name is Ali
My name is Ahmed
My name is Sarah

In [ ]:
for x in range(7):
  print("The number is " + str(x))

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 5
The number is 6

In [ ]:
for x in range(2,7):
  print("The number is " + str(x))

The number is 2
The number is 3
The number is 4
The number is 5
The number is 6

In [ ]:
for x in range(2,7,3):
  print("The number is " + str(x))

The number is 2
The number is 5

In [ ]:
for x in range(2,7,3):
  print("The number is " + str(x))
else:
  print("loop ended")

The number is 2
The number is 5
loop ended